img {
	border-radius:5px;
	box-shadow:2px 2px 3px rgba(0, 0, 0, 0.2);
}

a, a:visited, a:hover, a:active {
	color:#ccc;
	text-decoration:none;
}

html {
	height:100%;
	width:100%;
	background:#F4F4F4;
	color:#111;
	text-shadow:2px 2px 3px rgba(0,0,0,0.2);
}

body {
	height:100%;
	width:inherit;
}
h1 {
	font-size:36px;
	font-weight:bold;
}
#container {
	width:90%;
	max-width:900px;
	min-height:100%;
	margin:0 auto 0;
	text-align:center;
	padding-left:5px;
	padding-right:5px;
	border-left:2px solid #09F;
	border-right:2px solid #09F;
	margin-bottom:-55px;
}

#container:after {
	content:'';
	display:block;
}

#header-container {
	margin:0;
	text-align:center;
	background:#111;
	border-bottom:5px solid #09F;
	position:absolute;
	width:100%;
}

#header {
	color:#CCC;
	clear:both;
	width:90%;
	max-width:900px;
	margin:0 auto 0;
	font-family:NewCicle;
	padding-bottom:20px;
	padding-top:20px;
}

#navbar ul {
	list-style-type:none;
	margin:0;
	padding:0;
	height:30px;
	line-height:30px;
}

#navbar>ul li {
	color:#ccc;
	display:inline;
	width:20px;
	padding-left:15px;
	padding-right:15px;
	padding-top:7px;
	padding-bottom:7px;
	border-top-left-radius:2px;
	border-top-right-radius:2px;
	
	-webkit-transition: color 200ms ease-out, background-color 200ms ease-out;
	-moz-transition: color 200ms ease-out, background-color 200ms ease-out;
	-o-transition: color 200ms ease-out, background-color 200ms ease-out;
	transition: color 200ms ease-out, background-color 200ms ease-out;
}

#navbar>ul li:hover {
	background:rgba(0, 153, 255, 0.7);
	/*color:#111;*/
	cursor:pointer;
}

#left{
	width:100%;
	text-align:left;
}

#right{
	width:inherit;
	text-align:right;
}

#footer #left {
	width:50%;
	float:left;
}

#footer #right {
	width:50%;
	float:right;
}

#start {
	padding-top:140px;
	margin-bottom:30px;
}

#footer-container, #container:after {
	height:50px;
}

#footer-container {
	background:#111;
	border-top:5px solid #09f;
	height:50px;
}

#footer {
	width:90%;
	max-width:900px;
	margin:0 auto 0;
	color:#ccc;
	padding:5px;
	line-height:40px;
}

.content {
	width:inherit;
	display:table;
	margin-bottom:5px;
}

.content img {
	float:left;
	display:table-cell;
	vertical-align:middle;
}

.content p {
	width:auto;
	display:table-cell;
	vertical-align:middle;
	text-align:justify;
	padding-left:5px;
	font-weight:200;
	line-height:25px;
}

.clear {
	clear:both;
}